* {
  margin: 0;
  padding: 0;
}

.stars,
.twinkling,
.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
}

/* STARS --------------------------
   -------------------------------- */

.background {
  background: #13325881;
}

.stars {
  background: #000
    url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top
    center;
}

.twinkling {
  background: transparent
    url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat
    top center;

  -moz-animation: move-twink-back 400s linear infinite;
  -ms-animation: move-twink-back 400s linear infinite;
  -o-animation: move-twink-back 400s linear infinite;
  -webkit-animation: move-twink-back 400s linear infinite;
  animation: move-twink-back 400s linear infinite;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

/* COMETS -------------------------
   -------------------------------- */

.comets {
  position: fixed;
  top: -150px;
  text-align: left;
  width: 100%;
  height: 100%;
  min-height: 900px;
  display: block;
  overflow: hidden;
}
.comets i {
  display: inline-block;
  width: 250px;
  height: 150px;
  position: absolute;
  border-radius: 5% 40% 70%;
  box-shadow: inset 0px 0px 1px #294b67;
  border: 1px solid #333;
  z-index: 1;
  background-color: #fff;
  opacity: 0.7;
  -webkit-animation: falling 10s 0s infinite;
  -moz-animation: falling 10s 0s infinite;
  -ms-animation: falling 10s 0s infinite;
  -o-animation: falling 10s 0s infinite;
  animation: falling 10s 0s infinite;

  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  -ms-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

.comets i:nth-child(1) {
  left: 50vw;
  height: 73px;
  width: 3px;
  background-color: #fff;
}
.comets i:nth-child(3) {
  height: 11px;
  width: 3px;
  left: 10vw;
  background-color: #fff;
  -webkit-animation: falling3 8s 3s infinite;
  -moz-animation: falling3 8s 3s infinite;
  -ms-animation: falling3 8s 3s infinite;
  -o-animation: falling3 8s 3s infinite;
  animation: falling3 8s 3s infinite;
}
.comets i:nth-child(2) {
  left: 30vw;
  height: 70px;
  width: 4px;
  background-color: #fff;
  -webkit-animation: falling2 6s 1s infinite;
  -moz-animation: falling2 6s 1s infinite;
  -ms-animation: falling2 6s 1s infinite;
  -o-animation: falling2 6s 1s infinite;
  animation: falling2 6s 1s infinite;
}

@keyframes falling {
  0% {
    -webkit-transform: translate3d(100px, 0px, 0px) rotate(160deg);
  }

  3% {
    -webkit-transform: translate3d(450px, 900px, 0) rotate(160deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(450px, 900px, 0) rotate(160deg);
    opacity: 0;
  }
}

@keyframes falling2 {
  0% {
    -webkit-transform: translate3d(100px, 0, 0) rotate(130deg);
  }

  15% {
    -webkit-transform: translate3d(800px, 580px, 0) rotate(130deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate3d(800px, 680px, 0) rotate(180deg);
    opacity: 0;
  }
}

@keyframes falling3 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(150deg);
  }

  10% {
    -webkit-transform: translate3d(430px, 640px, 0) rotate(150deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate3d(430px, 640px, 0) rotate(150deg);
    opacity: 0;
  }
}
