@import '../../styles/colors';

.social-icons {
  padding: 0.25rem 0;
  font-size: 3.5rem;

  a {
    padding: 0 0.625rem;

    &:hover,
    &:focus,
    &:active {
      svg {
        box-shadow: 0 0 1px transparent;
        color: $light_cyan;
        transition: ease 0.5s;
      }
    }
  }
}
