@import '../../styles/breakpoints';
@import '../../styles/colors';

.publication-item {
  width: 14rem;
  margin: 1rem 1rem;
  border-radius: 5px;
  background-image: linear-gradient($blue_galaxy, $cyan_galaxy);
  cursor: pointer;
  transition: transform 0.2s;

  display:flex;
  flex-direction: column;

  @include breakpoint-small-down {
    width: 15rem;
  }

  h2 {
    color: black;
  }

  .row {
    margin-top: auto;
    padding: 8px;
  }

  &:hover {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }

  &__img {
    background-color: white;
    @include breakpoint-medium-up {
      max-height: 15vh;
    }
  }

  &__title {
    padding: 1rem 1.5rem;
    font-size: 1em;
    text-align: center;

    @include breakpoint-small-down {
      font-size: 1.25rem;
    }
  }
}
