@import '../../styles/breakpoints';

.landing-page {
  min-height: 100vh;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;
  z-index: 1;

  main {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    padding: 3.25rem 1.5rem 1rem;
    text-align: center;

    @include breakpoint-small-down {
      padding: 4.25rem 1.5rem 1rem;
    }

    .intro-wrapper {
      flex: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;

      > .intro-name {
        font-size: 4.5rem;
        font-weight: bold;
        line-height: 4rem;
        padding-bottom: 1rem;

        // overflow: hidden; /* Ensures the content is not revealed until the animation */
        // border-right: .1em solid; /* The typwriter cursor */
        // white-space: nowrap; /* Keeps the content on a single line */
        // margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        // animation: typing 2.5s steps(40, end),
        //   blink-caret 0.75s step-end infinite;

        @include breakpoint-small-down {
          font-size: 3rem;
          line-height: 3.5rem;
        }
      }

      > .tagline {
        font-size: 1.375rem;
        margin: 1.5rem 0;
        font-weight: 300;

        @include breakpoint-small-down {
          line-height: 2.5rem;
        }
      }
    }
  }

  // /* The typing effect */
  // @keyframes typing {
  //   from {
  //     width: 0;
  //   }
  //   to {
  //     width: 18ch;
  //   }
  // }

  // /* The typewriter cursor effect */
  // @keyframes blink-caret {
  //   from,
  //   to {
  //     border-color: transparent;
  //   }
  //   50% {
  //     border-color: #3a7999;
  //   }
  // }
}
